.ISCTE-a-inicio {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .ISCTE-a-inicio .overlap-wrapper {
    height: 667px;
    overflow: hidden;
    width: 376px;
  }
  
  .ISCTE-a-inicio .overlap {
    height: 681px;
    left: -145px;
    position: relative;
    top: -1px;
    width: 665px;
  }
  
  .ISCTE-a-inicio .element {
    height: 667px;
    left: 145px;
    position: absolute;
    top: 1px;
    width: 375px;
  }
  
  .ISCTE-a-inicio .rectangle {
    background-color: #ffffff;
    height: 187px;
    left: 144px;
    opacity: 0.67;
    position: absolute;
    top: 0;
    width: 378px;
  }
  
  .ISCTE-a-inicio .div {
    background-color: #0d28c2;
    height: 94px;
    left: 164px;
    position: absolute;
    top: 0;
    width: 357px;
  }
  
  .ISCTE-a-inicio .bitmap {
    height: 32px;
    left: 231px;
    object-fit: cover;
    position: absolute;
    top: 31px;
    width: 205px;
  }
  
  .ISCTE-a-inicio .text-wrapper {
    color: #0d28c2;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 166px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 103px;
    width: 335px;
  }
  
  .ISCTE-a-inicio .um-espa-o-para-cresc {
    color: #000000;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 166px;
    letter-spacing: 0;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 132px;
    width: 335px;
  }
  
  .ISCTE-a-inicio .group {
    height: 594px;
    left: 0;
    position: absolute;
    top: 87px;
    width: 665px;
  }
  
  .ISCTE-a-inicio .overlap-group {
    height: 595px;
    position: relative;
    top: -1px;
    width: 521px;
  }
  
  .ISCTE-a-inicio .rectangle-2 {
    background-color: #ffffff;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px -3px 6px #00000026;
    height: 583px;
    left: 144px;
    position: absolute;
    top: 0;
    width: 377px;
  }
  
  .ISCTE-a-inicio .logo-ISCTE-instituto {
    height: 117px;
    left: 209px;
    position: absolute;
    top: 340px;
    width: 312px;
  }
  
  .ISCTE-a-inicio .logo-ISCTE-instituto-2 {
    height: 117px;
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 478px;
    width: 452px;
  }
  
  .ISCTE-a-inicio .path {
    height: 22px;
    left: -1079px;
    position: absolute;
    top: 1915px;
    width: 57px;
  }
  
  .ISCTE-a-inicio .rectangle-3 {
    background-color: #ccd3e0;
    height: 95px;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 20px;
    width: 21px;
  }
  
  .ISCTE-a-inicio .img {
    height: 91px;
    left: -1419px;
    position: absolute;
    top: 1900px;
    width: 105px;
  }
  
  .ISCTE-a-inicio .path-2 {
    height: 104px;
    left: 257px;
    position: absolute;
    top: 0;
    width: 83px;
  }

  .ISCTE-a-inicio .shape- {
    height: 84px;
    left: 352px;
    position: absolute;
    top: 20px;
    width: 100px;
  }

  .ISCTE-a-inicio .rectangle-4 {
    background-color: #ccd3e0;
    height: 7px;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 1px;
    width: 21px;
  }
  
  .ISCTE-a-inicio .path-3 {
    height: 84px;
    left: 150px;
    position: absolute;
    top: 20px;
    width: 98px;
  }

  .ISCTE-a-inicio .login {
    color: #324eec;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 600;
    left: 184px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 21px;
    white-space: nowrap;
  }
  

  .ISCTE-a-inicio .group-2 {
    height: 63px;
    left: 165px;
    position: absolute;
    top: 65px;
    width: 335px;
  }

  .ISCTE-a-inicio .inserir-email-ou-n-m-wrapper {
    border: 1px solid;
    border-color: #3f5af680;
    height: 40px;
    left: 0;
    position: absolute;
    top: 23px;
    width: 335px;
  }

  .ISCTE-a-inicio .inserir-email-ou-n-m {
    color: #696e77;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 9px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 9px;
    width: 315px;
  }

  .ISCTE-a-inicio .email-n-mero-de-al {
    color: #324eec;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }

  .ISCTE-a-inicio .overlap-group-wrapper {
    height: 40px;
    left: 163px;
    position: absolute;
    top: 148px;
    width: 337px;
  }

  .ISCTE-a-inicio .login-wrapper {
    background-color: #0d28c2;
    height: 42px;
    left: -1px;
    position: relative;
    top: -1px;
  }

  .ISCTE-a-inicio .login-2 {
    color: #ffffff;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 124px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 12px;
    width: 90px;
  }

  .ISCTE-a-inicio .esqueci-me-da-palavr {
    color: #0d28c2;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 311px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 208px;
  }


  

 